.status {
  position: absolute;
  left: 500px;
  top: 0;
  display: flex;
}
.currentStatus {
  position: relative;
  font-size: 20px;
}
.emtyStatus {
  position: relative;
  font-size: 20px;
  color: gray;
}
.newStatus {
  padding: 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
.input {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  border-radius: 7px;
  border: 1px solid rgba(0, 128, 255, 0.6);
  margin-top: -10px;
  width: 450px;
  padding-left: 5px;
}
.input.overflow {
  border: 1px solid red;
}
