.postsArea {
  width: 85%;
  margin: 0 auto;
}
.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.input {
  width: 100%;
  min-height: 26px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 8px;
  border: 1px solid rgba(0, 128, 255, 0.6);
}
.errorText {
  color: red;
  font-size: 14px;
  line-height: 18px;
  min-height: 18px;
  margin-left: 5px;
}
.button {
  position: relative;
  cursor: pointer;
  background-color: rgb(55, 154, 48);
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  align-self: end;
  border-radius: 8px;
}
.buttonDisabled {
  position: relative;
  cursor: pointer;
  background-color: rgba(55, 154, 48, 0.6);
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  align-self: end;
  border-radius: 8px;
}
.posted {
}
