.message {
  position: relative;
  min-height: 50%;
  font-size: 18px;
  flex: 0 1 auto;
  padding-top: 15px;
  margin: 0 30px;
  padding: 15px;
  border: 1px solid rgba(0, 128, 255, 0.595);
  border-radius: 10px;
}
