.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 20px;
}
.user {
  position: relative;
  display: flex;
  flex-direction: column;
}
.image {
  position: relative;
  flex: 0 0 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  width: 50px;
}
.image img {
  height: 100%;
  display: block;
}
.name {
  position: relative;
  margin-top: 5px;
  font-size: 18px;
  line-height: 25px;
  align-self: center;
}
.text {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  flex: 1 0 auto;
  padding-top: 15px;
  margin-left: 40px;
  padding: 15px;
  border: 1px solid rgba(0, 128, 255, 0.595);
  border-radius: 10px;
}
