.user {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 60px;
  margin: 0 -5px;
}
.name {
  max-width: 100%;
  position: relative;
  font-size: 14px;
  line-height: 25px;
  align-self: center;
  overflow: hidden;
}
