.dialogs {
  position: relative;
  margin-left: 20px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.title {
  position: relative;
  font-size: 25px;
  text-transform: uppercase;
  margin: 20px 0 20px 20px;
}
.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2px 5fr;
}
.dialogsArea {
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 30px;
}

.line {
  position: relative;
  width: 2px;
  height: 100%;
}
.line:before {
  content: "";
  background-color: rgba(0, 128, 255, 0.595);
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
}
