.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.dialog {
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
}

.dialog a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 50px;
}
.dialog a.activeLink {
  font-weight: 700;
}

.dialog a.activeLink::before {
  content: "";
  background-color: rgba(0, 128, 255, 0.595);
  position: absolute;
  width: 10px;
  height: 10px;
  top: 40%;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}
