.dialog {
  position: relative;
  font-size: 18px;
  line-height: 50px;
  padding-left: 30px;
}
.dialog {
}
.dialog:before {
  content: "";
  background-color: rgba(0, 128, 255, 0.595);
  position: absolute;
  width: 10px;
  height: 10px;
  top: 40%;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}
.dialog a {
  text-decoration: none;
  color: black;
}
.dialog a.activeLink {
  font-weight: 700;
}
