.nav {
  grid-area: n;
  background-color: rgb(55, 154, 48);
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}

.menu {
  margin: 20px 0 0 20px;
}

.item {
  font-size: 18px;
  line-height: 28px;
}
.item:last-child {
  margin-top: 25px;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}
