.user {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px 0 50px 0;
}
.avatar {
  margin-right: 10px;
}
.avatar img {
  height: 170px;
}
.imgLoader {
  position: absolute;
  left: 5px;
  top: 175px;
}
.description {
  margin-left: 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.data {
}
.field {
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  font-weight: 700;
}
.field span {
  font-weight: 400;
}
.button {
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  background-color: rgb(55, 154, 48);
  height: 25px;
  line-height: 25px;
  width: 90px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
}
