.wrapper {
  position: relative;
  margin: 0 auto;
  top: 150px;
  display: flex;
  flex-direction: column;
}
.title {
  position: relative;
  font-size: 22px;
  margin-bottom: 10px;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.login {
  position: relative;
  font-size: 18px;
  border: 1px solid #000;
}
.login.error {
  border: 1px solid red;
}
.errorDescription {
  color: red;
  font-size: 14px;
  line-height: 16px;
  margin-left: 5px;
  min-height: 16px;
}
.password {
  position: relative;
  font-size: 18px;
  border: 1px solid #000;
}
.password.error {
  border: 1px solid red;
}
.confilm {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rememberMe {
  position: relative;
  display: inline-block;
  font-size: 18px;
}
.button {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  width: 80px;
  height: 25px;
  border-radius: 8px;
  background-color: rgb(55, 154, 48);
  color: #fff;
  cursor: pointer;
}
.button.disabled {
  background-color: rgba(55, 154, 48, 0.6);
}
