.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: flex-start;
}
.item a {
  color: #000;
}
.text {
  font-size: 18px;
  line-height: 50px;
  margin-left: 20px;
  flex: 1 0 auto;
}
.likes {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: aqua;
  overflow: hidden;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-right: 20px;
}
.like {
  position: relative;
  height: 30px;
  width: 50px;
  background-color: aqua;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
