.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;

  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 70px (500px, 1fr);
  grid-template-columns: 2fr minmax(500px, 9fr);
  /* grid-gap: 10px; */
}

.content {
  grid-area: c;
  height: 100%;
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}
