.nav {
  grid-area: n;
  background-color: rgb(55, 154, 48);
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}

.nav-menu {
  margin: 20px 0 0 20px;
}

.nav-item {
  font-size: 18px;
  line-height: 28px;
}
.nav-item:last-child {
  margin-top: 25px;
}

.nav-item a {
  color: #fff;
}
